/.idea
*.pyc
__pycache__
secret.cfg
secret*.cfg
app.log
*.pickle
chr2.fasta
Human_chr2.fasta
samples*.zip
samples.zip
samples/
*diggers.csv
db*.zip

# guQTL databases are rebuilt by make.bat: IGH alone is 191MB, over GitHub limit
QTL/Human/*/db.sqlite3
QTL/Human/*/make.log
